<div class="forgot-container">
    <h2>Forgot Password</h2>
    <p>Enter your email address to reset your password:</p>
    <form (ngSubmit)="resetPassword()" #forgotForm="ngForm">
        <div class="input-container">
            <label for="email" class="input-label">Email</label>
            <input type="email" id="email" name="email" [(ngModel)]="email" required placeholder="Your email address"
                class="input-field" />
        </div>
        <button type="submit" [disabled]="forgotForm.invalid" class="submit-button">
            Reset Password
        </button>
    </form>
    <p *ngIf="message" class="message">{{ message }}</p>
</div>