<h2>Set Up Gift</h2>
<p>Your username: {{ username }}</p>
<form (ngSubmit)="uploadGift()" #giftForm="ngForm">
    <div>
        <input type="file" (change)="onFileSelected($event)" required>
    </div>
    <div>
        <label for="emailMessage">Custom Email Message:</label>
        <textarea id="emailMessage" name="emailMessage" [(ngModel)]="emailMessage"
            placeholder="Enter your custom message here"></textarea>
    </div>
    <button type="submit" [disabled]="!selectedFile">Upload Gift</button>
    <button type="button" (click)="goBack()">Back</button>
</form>
<p *ngIf="message">{{ message }}</p>