<div>
    <h2>Personal Details</h2>
    <form (ngSubmit)="submitDetails()">
        <label>
            Username:
            <input type="text" [(ngModel)]="details.username" name="username">
        </label>
        <br>
        <label>
            My Email:
            <input type="email" [(ngModel)]="details.myEmail" name="myEmail">
        </label>
        <br>
        <label>
            Contact Email:
            <input type="email" [(ngModel)]="details.contactEmail" name="contactEmail">
        </label>
        <br>
        <button type="submit">Submit</button>
    </form>
    <p>{{ message }}</p>
    <button (click)="goBack()">Back</button>
</div>